@model WebHomeStay.Models.LoaiPhong

@{
    ViewData["Title"] = "Thêm loại phòng";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post" class="row g-3">
    <div class="col-md-6">
        <label asp-for="TenLoaiPhong" class="form-label">Tên Loại phòng</label>
        <input asp-for="TenLoaiPhong" class="form-control" />
        <span asp-validation-for="TenLoaiPhong" class="text-danger"></span>
    </div>

    <div class="col-12">
        <br/>
        <button type="submit" class="btn btn-primary">💾 Lưu</button>
        <a asp-action="Index" class="btn btn-secondary">↩️ Quay lại</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
